<h1>About 'Pefect Action Process' on Rails</h1>

<p><%= link_to "Perfect Action Process", "http://github.com/growthcode/pap_on_rails" %> is an agile way to create any project process in a way where you are able to add 100% of the features you want into the planning and as you are creating the process you'll never have to think about anything again that isn't the top level of priority to be completed. This ensures you are always doing what's most important... you are focusing on being product and NOT what simply keeps you busy.</p>

<p>This is far different than 'Agile' development because the process that you are aiming to build here is something that you are planning to be use and re-use forever. For a sales person, I would ask them "If you could design the PERFECT Sales Process... what would it look like."</p>

<p>Once the you have what is perfect in a bullet point list, then order it from what is most important in level of priority 1-5 (1 MVP, 5 maybe someday) for this 'perfect' sales process, then you know what should be your focus to work on when building this process. You should not even consider building something with a lower priority until 'all' things of higher priorities are finished. This means, you can ignore 2-5 level items until all level 1 items are done.</p>

<p>Hethe Berg in one month. This is the sample application.</p>

<p><%= link_to "Ruby on Rails", "http://rubyonrails.org" %> "Perfect Action Process" by <%= link_to "Hethe Berg", "http://github.com/growthcode" %>
</p>



