// Place all the styles related to the PapActions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table tr>td.vert-bottom {
  vertical-align: bottom;
}

.table tr>td.vert-middle {
  vertical-align: middle;
}

.pap_action_priority {
  width: 60px;
  text-align: center;
  height: 100%;
  .pap_action_priority_box {
    display: table-cell;
    width: 50px;
    height: 40px;
    box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #000000;
    background: #004080;
    color: white;
    border-radius: 10px;
    vertical-align: middle;
  }
}

.pap_action_toggle {
  max-width: 90%;
}
  
.pap_action_position {
  color: white;
  text-shadow: 0px 0px 4px black;
  font-size: 12px;
}

.pap_action_edit_delete {
  float: right;
  margin-left: 10px;
}

.pap_action_1 {
  background-color: rgba(255, 0, 0, .7);
  &:hover {
    background-color: rgba(255, 0, 0, 1);
    outline: 2px solid black;
  }
} 
.pap_action_2 {
  background-color: rgba(255, 165, 0, .7);
  &:hover {
    background-color: rgba(255, 165, 0, 1);
    outline: 2px solid black;
  }
}
.pap_action_3 {
  background-color: rgba(255, 255, 0, .6);
  &:hover {
    background-color: rgba(255, 255, 0, 1);
    outline: 2px solid black;
  }
}
.pap_action_4 {
  background-color: rgba(208, 208, 208, .7);
  &:hover {
    background-color: rgba(208, 208, 208, 1);
    outline: 2px solid black;
  }
}
.pap_action_5 {
  background-color: rgba(179, 179, 179, .7);
  &:hover {
    background-color: rgba(179, 179, 179, 1);
    outline: 2px solid black;
  }
}


.complete_state {
  background-color: rgba(0, 165, 0, .7);
  &:hover {
    background-color: rgba(0, 165, 0, 1);
    outline: 2px solid black;
  }
}
