// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table_headline_and_create {
  margin-top: 20px;
  margin-bottom: 15px;
}

.zero_margin_headline {
  margin: 0;
}
