<div class="footer">
  <small>
    <%= link_to "Perfect Action Process", "http://github.com/growthcode/pap_on_rails" %>
    by <%= link_to "Hethe Berg", "http://github.com/growthcode" %>
  </small>
</div>
