        <% if logged_in? %>
          <li><a href="/paps"><%= "PAP +" %></a></li>
          <li><a href="#"><%= "Edit Profile" %></a></li>
          <!-- <li><a href='/logout' rel="nofollow" data-method="delete" data-remote="true">Destroy W/ JS</a></li> -->
          <li><form action="/logout" method="post">
            <input name="_method" type="hidden" value="delete" />
            <!-- <input type="submit" value="Logout"> -->
            <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-star-empty"></span>Logout</button>
          </form></li>
        <% else %>
      <!-- <li><a href="/sessions/new"><%=  "Login" %></a></li> -->
        <% end %>
